%h6.titulo= "Selección:"
%table.table.table-bordered.table-striped.table-sm.table-hover#seleccionadas
	%thead
		%tr
			%th #
			%th Período
			%th Código
			%th Escuela
			%th Departamento
			%th Cátedra
			%th Asignatura
			%th Sección
			%th U. Créditos 

			%th
	%tbody
		- if @inscripciones and @inscripciones.any?
			- @inscripciones.each do |ins| 
				= render partial: '/admin/inscripcionsecciones/tr_selecciones', locals: {ins: ins, escuelas: @escuelas}
			%tr.font-weight-bold#trTotalCreditos{style: 'text-align: right;font-weight: bold;'} 
				%td{colspan: 7} Total U. Créditos
				%td.text-right#totalCreditosNumero= @inscripciones.total_creditos 