- if (current_usuario.email.blank? or current_usuario.telefono_movil.blank? or current_usuario.telefono_habitacion.blank? or (current_usuario.ci.eql? current_usuario.password))
	.modal.fade#actualizar_datos{'aria-labelledby': "myModalLabel", 'aria-hidden': false}
		.modal-dialog.modal-lg
			.modal-content
				.alert.alert-info.text-center
					%h5 Atención:
					actualice sus datos para una mejor experiencia
				= render 'layouts/messages'
				%h5#myModalLabel.text-center
					Actualizar Datos
				.modal-body
					.border.m-1.p-3
						= render partial: '/admin/estudiantes/form'
		:javascript
			$(document).ready(function() {
				$("#actualizar_datos").modal({keyboard: false, backdrop: 'static'});
			});

		%br
		%br
		%br
		%br