- if (current_usuario.email.blank? or current_usuario.telefono_movil.blank? or current_usuario.telefono_habitacion.blank? or (current_usuario.ci.eql? current_usuario.password))
	.modal.fade#actualizar_datos{'aria-labelledby': "myModalLabel", 'aria-hidden': false}
		.modal-dialog
			.modal-content
				.alert.alert-info
					%h4 IMPORTANTE:
					Le recomendamos actualice sus datos para una mejor experiencia.
				%h2#myModalLabel.text-center
					Actualizar Datos
				.modal-body

					= render partial: '/admin/usuarios/form'
		:javascript
			$(document).ready(function() {
				$("#actualizar_datos").modal({keyboard: false, backdrop: 'static'});
			});