= hidden_field_tag :id, @usuario.id
.form-group
  %h6.col-md-2 Escuela
  .col-md-10
    = collection_select(:estudiante, :escuela_id, Escuela.all, :id, :descripcion, {prompt: "-- Seleccione Escuela --"}, {class: 'text-field form-control'})

