.form-group.row
  %label.col-form-label.col-md-2.text-right Departamento:
  .col-md-10
    =# collection_select(:profesor, :departamento_id, Departamento.all, :id, :descripcion_completa, {prompt: "-- Seleccione Departamento --"}, {required: true, class: 'text-field form-control'})

    = grouped_collection_select :profesor, :departamento_id, Escuela.all, :departamentos, :descripcion, :id, :descripcion, {:prompt => "-- Seleccione Departamento --"}, { class: 'selects2 form-control text-field'}