= hidden_field_tag :id, @usuario.id

.form-group
  %h6.col-md-12 Rol del Adminstrador
  .col-md-12
    = select_tag '[administrador]rol', options_for_select(Administrador.roles.reject{|a| a.eql? 'ninja'}.map {|k,v| [k.titleize,k]}), prompt: '-- Seleccione Rol --', required: true, class: 'text_field form-control', id: :roles_admin
#adminDepartamento.hideble
  .form-group
    %h6.col-md-12 Departamento
    .col-md-12
      = grouped_collection_select :administrador, :departamento_id, Escuela.all, :departamentos, :descripcion, :id, :descripcion, {prompt: "-- Seleccione Departamento --"}, { class: 'text_field form-control'}
      =# collection_select(:administrador, :departamento_id, Departamento.all, :id, :descripcion_completa, {prompt: "-- Seleccione Departamento --"}, {required: true, class: 'text_field form-control'})                  
#adminEscuela.hideble
  .form-group
    %h6.col-md-2 Escuela
    .col-md-10
      = collection_select(:administrador, :escuela_id, Escuela.all, :id, :descripcion, {prompt: "-- Seleccione Escuela --"}, {class: 'text-field form-control'})
