
- content = render partial: '/admin/grados/form'

= render partial: '/layouts/modal_layout', locals: {url: agregar_grado_path(@usuario.id), id_modal: 'agregarGrado', title: "Registrar a #{@usuario.nombre_completo} en Escuela", content: content}
