
- content = render partial: 'admin/usuarios/form_admin'

= render partial: '/layouts/modal_layout', locals: {url: set_administrador_usuario_path, id_modal: 'set_admin', title: "Registrar como administrador a: #{@usuario.nombre_completo}", content: content}

:javascript
  $('#roles_admin').on('change',function(evt){ 
    if ($(this).val() == 'admin_departamento') {
      $('#adminDepartamento').show();
      $("#administrador_departamento_id").prop('required',true);

    }else{
      $('#adminDepartamento').hide();
      $("#administrador_departamento_id").prop('required',false);
    };

    if ($(this).val() == 'admin_escuela') {
      $('#adminEscuela').show();
      $("#administrador_escuela_id").prop('required',true);

    }else{
      $('#adminEscuela').hide();
      $("#administrador_escuela_id").prop('required',false);

    };

  });
