
- content = render partial: 'admin/usuarios/form_estu'

= render partial: '/layouts/modal_layout', locals: {url: set_estudiante_usuario_path, id_modal: 'set_estudiante', title: "Registrar a #{@usuario.nombre_completo} como estudiante", content: content}
