.modal.fade#agregar_escuela{'aria-hidden': true, role: :dialog, tabindex: '-1'}
  .modal-dialog
    .modal-content
      .alert.alert-info
        %button.close{"aria-label": "Cerrar", "data-dismiss": :modal, type: :button}
          %span{"aria-hidden": true} ×
        %h4.text-center Registrar en Escuela
      .modal-body.border.p-2
        =form_tag(agregar_grado_path(@estudiante.id), class: "form-horizontal")  do
          .form-group
            %label.control-label.col-md-3 Escuela 
            .col-md-12
              = collection_select nil, :escuela_id, Escuela.all.reject{|e| @estudiante.escuelas.ids.include? e.id }, :id, :descripcion, {prompt: 'Selecciona Escuela...'}, { class: ' form-control form-control-sm', required: true}
          .modal-footer 
            %a.btn.btn-sm.btn-outline-secondary{data: {dismiss: 'modal'}} Cancelar
            = submit_tag 'Registrar', class: 'btn btn-outline-success btn-sm'







