.modal.fade#olvido_clave{'aria-labelledby': "myModalLabel", 'aria-hidden': false}
  .modal-dialog
    .modal-content
      .alert.alert-info.text-center
        %h4 ¡Atención!
        Ingrese los datos para recuperar su clave
      .modal-body    
        =form_tag olvido_clave_guardar_visitors_path do 
          %p
            %label
              Cédula de Identidad
            =text_field_tag :ci, nil, {class: 'text_field form-control', autofocus: true}
          .modal-footer
            =link_to 'javascript:void(0)', class: 'btn btn-outline-secondary', data: {dismiss: 'modal'} do
              = glyph 'chevron-left'
              Cancelar
            =submit_tag "Siguiente", class: 'ml-md-3 btn btn-outline-success'#, onclick: 'enviar_ci();'


:javascript

  function enviar_ci(){
    data = $('#ci').val()
    alert ('Hola mundo' + data);
    //$.ajax({url: '#{Rails.root}/visitors/usuarios', dataType: 'json'})

    $.ajax({
      
      dataType:"json",
      //cache:false,
      url:'/visitors/usuarios',
      data:data,    // multiple data sent using ajax
      success: function (html) {

        $('#add').val('data sent sent');
        $('#msg').html(html);
      }
    });
  }