
	
.row.bg-info.mb-4.p-2.text-center
	.col-md-2{style: "padding-top: 20px;"}= image_tag :logo_ucv#, {style: "width:50%;"}
	.col-md-8
		%h3 Universidad Central de Venezuela
		%h3 Facultad de Humanidades y Educación
		%h1 Sistema de Control de Estudios
		%h3.text-dark COES-FHE 
	.col-md-2{style: "padding-top: 20px;"}= image_tag :logo_fhe#, {style: "width:50%;"}

- @carteleras.each do |c| 
	.border.m-2.p-2
		= raw c.contenido