.text-center
	.bg-info.mb-4.p-2
		%h3 Universidad Central de Venezuela
		%h3 Facultad de Humanidades y Educación
		%h1 Sistema de Control de Estudio
		%h3 COES-FHE 

	.well.well-small.text-info
		%h3 Inscripciones para el período 2017-2018
		%p 
			%b Alumnos regulares y reincorporados: 
			ya se inscribieron el miércoles 14 de marzo de 8:30 am a 11:30 am por orden de llegada.
		%p
			%b Alumnos nuevo ingreso: 
			UNICAMENTE el martes 20 de marzo por cita horaria.
		%br
		%b YA SE ENCUENTRA PUBLICADA LA CITA HORARIA PARA CADA ESTUDIANTE
		%br
		%br
		%p
			Para ver la cira horaria y los horarios los alumnos regulares que ya se han registrado en SIRNEIM pueden ingresar utilizando su número de cédula y contraseña.
		%p
			Los alumnos nuevos y reincorporados deben registrarse por primera vez en SIRNEIM ingresando con su número de cédula en ambos campos del inicio de la sesión y seguir las instrucciones.
		%h4
			Bienvenidos.
