.text-center
	.bg-info.mb-4.p-2
		%h3 Universidad Central de Venezuela
		%h3 Facultad de Humanidades y Educación
		%h1 Sistema de Control de Estudio
		%h3 COES-FHE 


- @carteleras.each do |c| 
	.border.m-2.p-2
		= raw c.contenido