%br
.border.p-md-3
  = link_to 'Profesores', '/importador/seleccionar_archivo_profesores', class: 'btn btn-sm btn-outline-primary mr-md-3'
  = link_to 'Estudiantes', '/importador/seleccionar_archivo_estudiantes', class: 'btn btn-sm btn-outline-primary'

