
.border.p-md-3
  %h5
    = btn_atras principal_admin_index_path
    (Selección de Archivo de Secciones formato ci, id_uxxi, seccion):
.border.p-md-3.m-md-3
  = form_tag({controller: :importador, action: :importar_seccion}, multipart: true, class: 'form-horizontal') do
    .form-group
      .col-md-10
        %label Seleccione el archivo a Importar (recuerde el formato es CSV):
      .col-md-10
        = file_field_tag :datafile, required: true, class: 'form-control', accept: ".csv"

    .form-group
      .col-md-offset-2.col-md-10
        = submit_tag "Cargar", {class: 'btn btn-outline-success btn-sm', disable_with: "Cargando..."}