
.border.p-md-3
  .alert.alert-info
    %b Formato de las cabeceras: ci, apellidos, nombres, email, telefono_movil, departamento_id (en minúscula y sin espacios):
    .text-muted 
      Recuerde que debe existir la estructura. En particular el identificador de cada departamento (departamento_id). 
      En el ejemplo: "ADEDU" es el id de "ADMINISTRACIÓN EDUCATIVA". Encuentre el Id en la lista de
      %a{href: departamentos_path, target: '_blank'} departamentos

  .text-center
    %p Ejemplo:
    = image_tag 'ejem_csv_importar_profesores'
    %p 
      .float-right.text-success #CAMPOS OPCIONALES
      .float-right.text-danger #CAMPOS OBLIGATORIOS
      .float-right.text-info #NOMBRES DE LAS CABECERAS
.border.p-md-3.mt-md-3
  = form_tag({controller: :importador, action: :importar_profesores}, multipart: true, class: 'form-horizontal') do
    .form-group
      .alert.alert-info
        %b Seleccione Archivo CSV 
        .text-muted
          Para obtener información de cómo exportar archivos .csv en Excel haga click
          %a{href: 'https://support.office.com/es-es/article/importar-o-exportar-archivos-de-texto-txt-o-csv-5250ac4c-663c-47ce-937b-339e391393ba', target: '_blank'} aquí

      .col-md-12.mb-3
        = file_field_tag :datafile, required: true, class: 'form-control', accept: ".csv"
    .form-group
      .col-md-offset-2.col-md-10
        = submit_tag "Cargar", {class: 'btn btn-outline-success btn-sm', disable_with: "Cargando..."}