
- if @escuelas.count > 1
  = render '/admin/principal_admin/tabs_estructura/escuelas'
- else
  - @asignaturas = @escuelas.first.asignaturas
  = render 'admin/asignaturas/index_colocar_tabla'

= render 'admin/secciones/modal_form' if current_admin and ((current_admin.autorizado? 'Secciones', 'create') or (current_admin.autorizado? 'Secciones', 'update'))
= render 'admin/escuelas/clonar_periodo' if (current_admin and current_admin.autorizado? 'Escuelas', 'clonar_programaciones')

:javascript

  $('.clonar').on('click', function(e){
    let escuela_id = $(this).attr('escuela_id')
    $('#form_clonar #id').val(escuela_id)

    $("#periodo_id optgroup").hide();
    
    $("#periodo_id optgroup[label='" + escuela_id + "']").show();

    $("#periodo_id").val('');

    $("#periodo_id").show();

    $('#clonar_programacion').modal()

  });

  function filtrar() {
    var filtro = $('#filtro').val().toLowerCase() 
    var total_mach = 0
    var ids = ""
    $("tr.filtrables").each(function(){
      var temp = $(this).text().toLowerCase();
      if (temp.match(filtro) == null) {
        $(this).hide();
      }else {
        $(this).show();
        total_mach += 1;
        ids = ids + $(this).find('td').first().text() + ",";
      }
      $('#text').text(total_mach+" coincidencias");
    });
  };


  function switches(url, id){
    $.ajax({
      url: url,
      type: 'GET',
      dataType: 'json', 
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))}  
    });
  }
