.border.mt-2.p-3
  %h5.title Filtros:

  .row
    .col-2= row_filter @periodos.map{|k,v| [k.tipo.titleize,k.tipo[0].upcase]}.uniq, 'regimen'
    .col-1= row_filter @periodos.map{|k| k.letra_final_de_id}.uniq, 'tipo'
    .col-4= row_filter @periodos.map{|k| k.id}, 'periodo_id'
    - if @escuelas.count > 1
      .col-5= col_filter @escuelas
    / .col-4
    =# filtros Plan.all


:javascript

  $('.filtrables').on('change',function(){ 

    let values, tipo

    values = $(this).val()
    tipo = $(this).attr("id")

    console.log($(this).attr("id"));
    $(".trFiltrables").hide();
    jQuery.each(values, function(index, item) {
      //console.log(item);
      $("."+tipo + item ).show();

    });
  });


  $('.escuelaFiltrables').on('change',function(){ 

    let values = $(this).val()

    $(".thFiltrables").hide();
    $(".tdFiltrables").hide();
    jQuery.each(values, function(index, item) {
      
      $(".fil" + item ).show();

    });
  });  