= btn_add_success(new_periodo_path, 'Agregar Nuevo Periodo', 'Nuevo') if (current_admin and current_admin.autorizado? 'Periodos', 'create')

= render partial: '/admin/periodos/filtros'#, locals:{objetos: Escuela.all}

= render '/admin/periodos/tabla_total_inscritos'

