%b
	Seleccione la Asignatura:
	=# tooltip_link_to 'Agregar Nueva Asignatura', 'plus', 'success', new_asignatura_path if @principal_admin_add_asig
.row
	.col-2
		#v-pills-tab.nav.flex-column.nav-pills{"aria-orientation" => "vertical", role: :tablist}
			- @asignaturas.each do |mat|
				- @mat_activa = (session[:mat_id].eql? mat.id) ? "active" : ""
				- @mat = mat
				- @sin_secciones = mat.secciones.where(:periodo_id => current_periodo.id).count < 1

				- if @principal_admin_add_asig
					= render '/admin/principal_admin/tabs_estructura/tab_asig_admin'

				- elsif @admin_inscripcion
					= render '/admin/inscripcionsecciones/tab_estructura_deps_asig_inscripcion'

	.col-10
		#v-pills-tabContent.tab-content
			- @asignaturas.each do |mat|
				- @mat_activa = (session[:mat_id].eql? mat.id) ? "active show" : ""
				- @secciones = mat.secciones.where(:periodo_id => current_periodo.id)
				- @mat = mat
				- @sin_secciones = mat.secciones.where(:periodo_id => current_periodo.id).count < 1

				- if @principal_admin_add_asig
					= render '/admin/asignaturas/panel_detalle'
				- elsif @admin_inscripcion
					- if @ids_asignaturas and !@sin_secciones and !(@ids_asignaturas.include? mat.id)
						= render '/admin/inscripcionsecciones/detalle_inscripcion'

