// import the CSS framework
// Do not use *= require in Sass or your other stylesheets will not be able to access the Bootstrap mixins and variables.
@import "bootstrap";


.table-area {
  height: 500px;overflow-y: scroll;
  position: relative;
  z-index: 0;
  margin-top: 10px;
}

table.responsive-table {
  display: table;
  /* required for table-layout to be used (not normally necessary; included for completeness) */
  table-layout: fixed;
  /* this keeps your columns with fixed with exactly the right width */
  width: 100%;
  /* table must have width set for fixed layout to work as expected */
  height: 100%;
}

table.responsive-table thead#special-thead {
  position: fixed;
  top: 50px;
  left: 29px;
  right: 20px;
  width: 96%;
  height: 20px;
  background: #eee;
  table-layout: fixed;
  display: none;

  -webkit-transition: background-color 0.1s ease;
  -moz-transition: background-color 0.1s ease;
  -o-transition: background-color 0.1s ease;
  transition: background-color 0.1s ease;

}

table.responsive-table th {
  background: #eee;
}

table.responsive-table td {
  line-height: 2em;
}

table.responsive-table tr > td,
table.responsive-table th {
  text-align: left;
}

.w10{width: 5em;}

.titulo{
  color: grey;
  border-bottom: 1px solid #f7a932;
  border-top: 1px solid #f7a932;
  margin-top: 2px;
  margin-bottom: 6px;
  padding: 3px;
}

.hideble{
  display:none;
}

body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
}

.container{max-width: 98%;}
// make all images responsive by default
img {
  @extend .img-fluid;
  margin: 0 auto;
}
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  text-align: center;
}
.form {
  @extend .col-md-6;
}
.form-centered {
  @extend .col-md-6;
  text-align: center;
}
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
}

// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  margin-top: 60px; // accommodate the navbar
}

section {
  @extend .row;
  margin-top: 20px;
}
