// import the CSS framework
// Do not use *= require in Sass or your other stylesheets will not be able to access the Bootstrap mixins and variables.
@import "bootstrap";

.table-area {
  height: 500px;overflow-y: scroll;
  position: relative;
  z-index: 0;
  margin-top: 10px;
}

.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
}

.resalte:hover{
  border: 2px solid rgba(40, 167, 69, 0.3) !important;

}

table.responsive-table {
  display: table;
  /* required for table-layout to be used (not normally necessary; included for completeness) */
  table-layout: fixed;
  /* this keeps your columns with fixed with exactly the right width */
  width: 100%;
  /* table must have width set for fixed layout to work as expected */
  height: 100%;
}

table.responsive-table thead#special-thead {
  position: fixed;
  top: 50px;
  left: 29px;
  right: 20px;
  width: 96%;
  height: 20px;
  background: #eee;
  table-layout: fixed;
  display: none;

  -webkit-transition: background-color 0.1s ease;
  -moz-transition: background-color 0.1s ease;
  -o-transition: background-color 0.1s ease;
  transition: background-color 0.1s ease;

}

table.responsive-table th {
  background: #eee;
}

table.responsive-table td {
  line-height: 2em;
}

table.responsive-table tr > td,
table.responsive-table th {
  text-align: left;
}

.w10{width: 5em;}

.titulo{
  color: grey;
  border-bottom: 1px solid #f7a932;
  border-top: 1px solid #f7a932;
  margin-top: 2px;
  margin-bottom: 6px;
  padding: 3px;
}

.hideble{
  display:none;
}

body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
}

.container{max-width: 98%;}
// make all images responsive by default
img {
  @extend .img-fluid;
  margin: 0 auto;
}
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  text-align: center;
}
.form {
  @extend .col-md-6;
}
.form-centered {
  @extend .col-md-6;
  text-align: center;
}
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
}

// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  margin-top: 60px; // accommodate the navbar
}

section {
  @extend .row;
  margin-top: 20px;
}

// SPNNNER DOTS STYLE
.sk-spinner-chasing-dots.sk-spinner {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  -webkit-animation: sk-chasingDotsRotate 2s infinite linear;
  animation: sk-chasingDotsRotate 2s infinite linear;
}
.sk-spinner-chasing-dots .sk-dot1,
.sk-spinner-chasing-dots .sk-dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #FFF;
  border-radius: 100%;
  -webkit-animation: sk-chasingDotsBounce 2s infinite ease-in-out;
  animation: sk-chasingDotsBounce 2s infinite ease-in-out;
}
.sk-spinner-chasing-dots .sk-dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
@-webkit-keyframes sk-chasingDotsRotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes sk-chasingDotsRotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes sk-chasingDotsBounce {
  0%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes sk-chasingDotsBounce {
  0%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

