%nav
  .nav.nav-tabs
    = link_to 'Tesistas', "#tesistas", "data-toggle": "tab", class: 'nav-item nav-link'
    = link_to 'Graduandos', "#graduandos", "data-toggle": "tab", class: 'nav-item nav-link'

      
.tab-content
  .tab-pane#tesistas
    .border.mt-3.p-3
      = render partial: '/admin/grados/lista', locals: {inscripciones: @tesistas, grado: 'tesistas'}
  .tab-pane#graduandos
    .border.mt-3.p-3
      = render partial: '/admin/grados/lista', locals: {inscripciones: @graduandos, grado: 'graduandos'}