%h6.titulo.m-2= "Horario:"

-# if current_admin 
-# if controller_name.eql? 'inscripcionsecciones'
-# @url = "#{get_bloques_horario_path(@estudiante.id)}?estudiante=true"
- if @asignatura
  - @url = "#{get_bloques_horario_path(@asignatura.id)}?asignatura=true"

#BloquesHorarios

:javascript
  $(document).ready(function(){
    $.ajax({
      url: `#{@url}`,
      type: 'GET',
      dataType: 'json', 
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      success: function (data) {
        // console.log(data)
        $("#BloquesHorarios").jqs({
          mode: "read",
          daysList: ['Lunes ', 'Martes', 'Miércoles', 'Jueves', 'Viernes'],
          hour: 12,
          days: 5,
          periodDuration: 15,
          periodOptions: false,

          data: data.bloques,
          dataEditable: data.bloquesEditables
        });
      }
    });
  })

  function addHorario(bloques){
    console.log(bloques);
    $("#BloquesHorarios").jqs({
      mode: "read",
      data: bloques
    });

  }
