=#link_to "Descargar listado (Excel)", {controller: 'descargar', action: 'listado_seccion', id: @seccion.id}, class: "btn btn-success pull-righ"

- @calificada = @seccion.calificada

- @calificada = false if @admin

- @calificada = true if (@admin and @admin.taquilla?) or @secundaria

	 
- @es_periodo1 = true

- @es_periodo2 = false

- @es_periodo3 = false


= render '/admin/secciones/tabla_inscripciones'
														
