=#link_to "Descargar listado (Excel)", {controller: 'descargar', action: 'listado_seccion', id: @seccion.id}, class: "btn btn-success pull-righ"

- @calificada = @seccion.calificada

- @calificada = false if @admin

- @calificada = true if (@admin && @admin.taquilla?) || @secundaria


= render '/admin/secciones/tabla_inscripciones'
														
