%thead
	%tr
		%th #
		%th Estudiante
		- if @seccion.asignatura.numerica3?

			%th TRIM I
			- if current_admin or @seccion.tiene_trimestres1? or @seccion.tiene_trimestres2?
				%th TRIM II
			- if current_admin or @seccion.tiene_trimestres2?
				%th TRIM III
				%th Definitiva
			%th
				PI
				- if current_admin
					%b.tooltip-btn{'data_toggle': :tooltip, title: 'Marcar vacios como PI'}
						= check_box_tag 'vacios_a_pi', nil, @seccion.inscripcionsecciones.perdidos.any?

		- elsif @seccion.asignatura.numerica?
			%th Definitiva
			%th
				PI
				- if current_admin
					%b.tooltip-btn{'data_toggle': :tooltip, title: 'Marcar vacios como PI'}
						= check_box_tag 'vacios_a_pi', nil, @seccion.inscripcionsecciones.perdidos.any?
			%th= current_admin ? 'ND' : 'NP'
			- if current_admin
				%th NR
				%th
		- elsif @seccion.asignatura.absoluta?
			%th Aprobado
			%th Aplazado
		- if current_admin or !@seccion.asignatura.numerica3? or (@seccion.asignatura.numerica3? and @seccion.tiene_trimestres2?)
			%th Descripción