%thead
	%tr
		%th #
		%th Estudiante
		- if @seccion.asignatura.numerica3?
			%th TRIM I
			%th TRIM II
			%th TRIM III
			%th Definitiva
		- elsif @seccion.asignatura.numerica?
			%th Definitiva
		- else
			%th Aprobado
			%th Aplazado
		%th
			PI
			- if @por_cerrar
				%b.tooltip-btn{'data_toggle': :tooltip, title: 'Marcar vacios como PI'}
					= check_box_tag 'vacios_a_pi', nil, @seccion.inscripcionsecciones.perdidos.any?
		%th= @por_cerrar ? 'ND' : 'NP'
		- if @por_cerrar
			%th NR
			- unless @seccion.asignatura.absoluta?
				%th
		%th
