%thead
	%tr
		%th #
		%th CI
		%th Estudiante
		- if @seccion.asignatura.numerica3?

			%th TRIM I

			- if current_admin or @seccion.tiene_trimestres2?
				%th TRIM II
				%th TRIM III
				%th Definitiva
			- elsif @seccion.tiene_trimestres1?
				%th TRIM II
			%th
				%b.tooltip-btn{'data_toggle': :tooltip, title: 'Pérdida por Inasistencia'}
					PI
				- if current_admin
					%b.tooltip-btn{'data_toggle': :tooltip, title: 'Marcar vacios como PI'}
						= check_box_tag 'vacios_a_pi', nil, @seccion.inscripcionsecciones.perdidos.any?
			- if current_admin
				%th 
					%b.tooltip-btn{'data_toggle': :tooltip, title: 'Calificación Reparación'}
						NR
				%th
					%b.tooltip-btn{'data_toggle': :tooltip, title: 'Valor Calificación Posterior'}
						Post

		- elsif @seccion.asignatura.numerica?
			%th Definitiva
			%th
				%b.tooltip-btn{'data_toggle': :tooltip, title: 'Pérdida por Inasistencia'}
					PI

				- if current_admin
					%b.tooltip-btn{'data_toggle': :tooltip, title: 'Marcar vacios como PI'}
						= check_box_tag 'vacios_a_pi', nil, @seccion.inscripcionsecciones.perdidos.any?
			%th
				- if current_admin
					%b.tooltip-btn{'data_toggle': :tooltip, title: 'Calificación Diferida'}
						ND
				- else
					%b.tooltip-btn{'data_toggle': :tooltip, title: 'Calificación Posterior'}
						NP
			- if current_admin
				%th
					%b.tooltip-btn{'data_toggle': :tooltip, title: 'Calificación Reparación'}
						NR

				%th
		- elsif @seccion.asignatura.absoluta?
			%th Aprobado
			%th Aplazado
		- if current_admin or !@seccion.asignatura.numerica3? or (@seccion.asignatura.numerica3? and @seccion.tiene_trimestres2?)
			%th Descripción
		%th Fecha y Hora Inscripción