%noscript
  %br
  %br
  %br
  .alert.alert-danger.justify-content-center.text-center
    %h6.deshabilitado
      %b ¡Atención!
      Su navegador web no es compatible con Javascript o éste se encuentra deshabilitado.
      Por favor, para ver correctamente este sitio
      %i
        %b debe habilitarlo.
      %br
      Siga las instrucciones de cómo hacerlo haceindo clic
      %a{href: "http://www.enable-javascript.com/es/", target: '_blank'} aquí. 
      Posteriormente, inicie sesión en COES-FHE.
      %br
      ¡Gracias!