- if current_admin
  - @noticias = Comentario.activos.admins.order('created_at DESC')
- elsif session[:estudiante_id]
  - @noticias = Comentario.activos.estudiantes.order('created_at DESC')
- elsif session[:profesor_id]
  - @noticias = Comentario.activos.profesores.order('created_at DESC')
- else
  - @noticias = Comentario.activos.publicos.order('created_at DESC')

- if @noticias.any?
  #newsCoes.breaking-news-ticker
    .bn-label Noticias
    .bn-news
      %ul

        - @noticias.each do |c|
          %li
            %a= raw como_noticia c

    .bn-controls
      %button
        %span.bn-arrow.bn-prev
      %button
        %span.bn-action
      %button
        %span.bn-arrow.bn-next

  :javascript
    $('#newsCoes').breakingNews(
    {
    position: "fixed-bottom",
    themeColor: "#17a2b8"

    }
    );
