.float-right.text-info.pt-md-2
	=link_to_if current_admin, "Periodo: #{current_periodo.id}", 'javascript:void(0)', {onclick: "return $('#cambiar_sesion_periodo').modal();", 'data_toggle': :modal, class: 'dropdown-item text-info'}

%h5.text-light.bg-dark.text-center.p-2.border.border-info
	
	= raw (@titulo ? @titulo : action_name.titleize)

	- if current_admin and current_admin.mas_altos?
		= simple_toggle buscar_estudiante_inscripcionsecciones_path, '', 'Inscribir Estudiante', 'success float-left ml-md-1', 'education'
